.button {
    border-radius: 5px;
    border: none;
    background-color: #7F3A6A;
    padding: 12px 24px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    

    &:hover {
        background-color: #E9A923;
        transition: 300ms ease-out;
    }
}